@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import "partials/setup";
@import "partials/variables";
@import "partials/typography";


// general styles
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

// setting position fr bubbles to relate to 
.position {
    position: relative;
}

ul {
    list-style-type: none;
}

// header
header {
    background: linear-gradient(black, $primaryRed, white);
}

h1 {
    padding: 50px;
    text-shadow: 8px 8px black;
}

// main


// first section - pokemon info

section {
    text-align: center;
    &:first-of-type {
        background-image: url('../assets/lightning.png');
        background-position: center;
        background-size: cover;
    }
    .bubble {
        position: absolute;
       
        a {
            color: black;
            text-decoration: none;
            transition: 0.5s color;

            &:hover {
                color: $primaryRed;
                transition: 0.5s color;
            }
        }
        h4 {
            font-family: "Pokemon Solid", sans-serif;
            letter-spacing:  3px;
            padding: 20px 20px 0 20px;
        }
        p {
           padding: 10px 20px 0 20px;
           &:last-of-type {
               padding: 20px;
           }
        }

    }
    .infoBtn {
        position: absolute;
        right: 10px;
        top: 0;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        padding: 7px 0 0 0;
        margin: 0;
        font-size: 2.7rem;
        transition: 0.5s background-color ease;
    }

    .bubble1 {
        width: 18px;
        height: 18px;
        background-color: $yellowColor;
        right: 70px;
        top: 67px;
        border-radius: 50%;
        border: 3px solid $primaryRed;
        z-index: -10;
        opacity: 0;
        transition: 0.5s z-index;
        transition: 0.5s opacity;
    }
    
    
    .bubble2 {
        width: 28px;
        height: 28px;
        background-color: $yellowColor;
        right: 90px;
        top: 95px;
        border-radius: 50%;
        border: 3px solid $primaryRed;
        z-index: -10;
        opacity: 0;
        transition: 0.8s z-index;
        transition:0.8s opacity;
    }
    
    
    .bubble3 {
        background-color: $yellowColor;
        right: 120px;
        top: 125px;
        border: 5px solid $primaryRed;
        border-radius: 50px;
        width: 80%;
        z-index: -10;
        opacity: 0;
        transition: 1s z-index;
        transition: 1s opacity;
    }

    // classes for click event 
    .bubbleFade1 {
        z-index: 10;
        opacity: 100%;
        transition: 0.5s z-index;
        transition: 0.5s opacity;
    }

    .bubbleFade2 {
        z-index: 10;
        opacity: 100%;
        transition: 0.8s z-index;
        transition: 0.8s opacity;
    }

    .bubbleFade3 {
        z-index: 10;
        opacity: 100%;
        transition: 1s z-index;
        transition: 1s opacity;
    }


    .pokemonInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        background-color: $yellowColor;
        border: 10px solid $primaryRed;
        border-radius: 50px;
        padding: 20px;
        height: 450px;
        .imgContainer {
            width: 50%;
            img {
                width: 60%;
                transition: 0.5s cubic-bezier(.22,.82,.83,1);
                &:hover, &:focus {
                    width: 80%;
                    filter: drop-shadow(0 10px 0.6rem black);
                }
            }
        }
        .textContainer {
            width: 50%;
            h2 {
                padding-bottom: 30px;
                text-shadow: 5px 5px red;
            }
            .typeAndAbilities {
                display: flex;
                justify-content: center;
                .typeContainer, .abilitiesContainer {
                    padding: 10px;
                    width: 50%;
                    h3 {
                        padding: 15px;
                        text-shadow: 5px 5px red;
                    }
                    li {
                        padding: 10px;
                        margin: auto;
                        height: 50px;
                        text-transform: capitalize;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover .icon, &:focus .icon {
                            filter: drop-shadow(0 10px 0.6rem black);
                            width: 32px;
                            animation: wobble;
                            animation-duration: 0.5s;
                        }
                
                    }
                }
            }
        }
    }
    .imgPlaceholder {
        padding: 100px;
        img {
            width: 20%;
        }
    }

    // class for pokemon type icons
    .icon {
       width: 30px;
       margin-right: 5px;
       transition: 0.5s cubic-bezier(.22,.82,.83,1) ease;
       transition: animation wobble;
    }

   .pikachuGif {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        img {
            width: 20%;
        }
    }
    button {
        padding: 20px 40px;
        border: transparent;
        border-radius: 15px;
        margin: 50px 0;
        background-color: $yellowColor;
        border: 5px solid $primaryRed;
        transition: 0.5s background-color ease;
        &:hover, &:focus {
            color: yellow;
            background-color: $primaryRed;
            transition: 0.5s background-color ease;
        }
    }
}

// section section - banner
.banner img {
    width: 100%;
}

// footer
footer {
    background: $primaryRed;
    p {
        padding: 20px;
    }
}

@import "partials/mediaqueries";