@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

h1 {
  text-align: center;
}
h1 a {
  font-family: "Pokemon Solid", sans-serif;
  color: #FFDE00;
  font-size: 2rem;
  letter-spacing: 5px;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

h2,
h3 {
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 3px;
}

p,
a,
li,
h4 {
  font-family: ‘Lato’, sans-serif;
}

button {
  color: #CC0000;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 3px;
}

footer {
  text-align: center;
}
footer p,
footer a {
  color: #FFDE00;
  text-decoration: none;
  font-size: 0.8rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

ul {
  list-style-type: none;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#CC0000), to(white));
  background: linear-gradient(black, #CC0000, white);
}

h1 {
  padding: 50px;
  text-shadow: 8px 8px black;
}

section {
  text-align: center;
}
section:first-of-type {
  background-image: url("../assets/lightning.png");
  background-position: center;
  background-size: cover;
}
section .pokemonInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: #FFDE00;
  border: 10px solid #CC0000;
  border-radius: 50px;
  padding: 20px;
  height: 50vh;
}
section .pokemonInfo .imgContainer {
  width: 50%;
}
section .pokemonInfo .imgContainer img {
  width: 60%;
  -webkit-transition: 0.5s cubic-bezier(0.22, 0.82, 0.83, 1);
  transition: 0.5s cubic-bezier(0.22, 0.82, 0.83, 1);
}
section .pokemonInfo .imgContainer img:hover, section .pokemonInfo .imgContainer img:focus {
  width: 80%;
  -webkit-filter: drop-shadow(0 10px 0.6rem black);
          filter: drop-shadow(0 10px 0.6rem black);
}
section .pokemonInfo .textContainer {
  width: 50%;
}
section .pokemonInfo .textContainer h2 {
  padding-bottom: 30px;
  text-shadow: 5px 5px red;
}
section .pokemonInfo .textContainer .typeAndAbilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .pokemonInfo .textContainer .typeAndAbilities .typeContainer, section .pokemonInfo .textContainer .typeAndAbilities .abilitiesContainer {
  padding: 10px;
  width: 50%;
}
section .pokemonInfo .textContainer .typeAndAbilities .typeContainer h3, section .pokemonInfo .textContainer .typeAndAbilities .abilitiesContainer h3 {
  padding: 15px;
  text-shadow: 5px 5px red;
}
section .pokemonInfo .textContainer .typeAndAbilities .typeContainer li, section .pokemonInfo .textContainer .typeAndAbilities .abilitiesContainer li {
  padding: 10px;
  margin: auto;
  height: 50px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .pokemonInfo .textContainer .typeAndAbilities .typeContainer li:hover .icon, section .pokemonInfo .textContainer .typeAndAbilities .abilitiesContainer li:hover .icon {
  -webkit-filter: drop-shadow(0 10px 0.6rem black);
          filter: drop-shadow(0 10px 0.6rem black);
  width: 32px;
  -webkit-animation: wobble;
          animation: wobble;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
section .imgPlaceholder {
  padding: 100px;
}
section .imgPlaceholder img {
  width: 20%;
}
section .icon {
  width: 30px;
  margin-right: 5px;
  -webkit-transition: 0.5s cubic-bezier(0.22, 0.82, 0.83, 1) ease;
  transition: 0.5s cubic-bezier(0.22, 0.82, 0.83, 1) ease;
  -webkit-transition: -webkit-animation wobble;
  transition: -webkit-animation wobble;
  transition: animation wobble;
  transition: animation wobble, -webkit-animation wobble;
}
section .pikachuGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
section .pikachuGif img {
  width: 20%;
}
section button {
  padding: 20px 40px;
  border: transparent;
  border-radius: 15px;
  margin: 50px 0;
  background-color: #FFDE00;
  border: 5px solid #CC0000;
}
section button:hover, section button:focus {
  color: yellow;
  background-color: #CC0000;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.banner img {
  width: 100%;
}

footer {
  background: #CC0000;
}
footer p {
  padding: 20px;
}

@media (max-width: 1060px) {
  section .pikachuGif img {
    width: 200px;
  }
  section .pokemonInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    height: 80vh;
    padding: 0 20px;
  }
  section .pokemonInfo .imgContainer, section .pokemonInfo .textContainer {
    width: 100%;
    height: 50%;
  }
  section .pokemonInfo .imgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .pokemonInfo .imgContainer img {
    width: 200px;
  }
  section .pokemonInfo .textContainer h2 {
    padding-bottom: 10px;
    padding-top: 0;
  }
  section .pokemonInfo .pokemonId h4 {
    padding-top: 15px;
  }
}
@media (max-width: 846px) {
  section .pikachuGif {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .pikachuGif button {
    margin-top: 0;
    margin-bottom: 20px;
  }
  section .pokemonInfo {
    height: 140vh;
  }
  section .pokemonInfo .imgContainer img:hover {
    width: 100%;
  }
  section .pokemonInfo .textContainer .typeAndAbilities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .pokemonInfo .textContainer .typeAndAbilities h2 {
    padding-top: 0;
  }
  section .pokemonInfo .textContainer .typeAndAbilities .typeContainer, section .pokemonInfo .textContainer .typeAndAbilities .abilitiesContainer {
    width: 100%;
  }
}
@media (max-width: 700px) {
  section .pokemonInfo {
    width: 80%;
  }
  section .pokemonInfo .imgContainer img:hover {
    width: 70%;
  }
}
@media (max-width: 500px) {
  section .pokemonInfo {
    width: 95%;
  }
}